.header {
  position: fixed;
  z-index: 99999;
  top: 4.5rem;
  left: 0;
  height: 7.5rem;
  width: 100%;
  background-color: #5d3ebc;
  padding: 0 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  height: 100%;
  max-width: 1232px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.header-container a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: min-content;
  height: 2.7rem;
  object-fit: cover;
}
